<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table class="table table-header">
        <tr>
            <th>Model</th>
            <th>Gen</th>
            <th>Owner</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.gen}"></td>
            <td th:text="${car.ownerName}"></td>
        </tr>
    </table>
<!--    <th:block th:each="car : ${cars}">-->
<!--        <h1 th:text="${car}"></h1>-->
<!--    </th:block>-->
</div>

</body>
</html>